<h1>Main#audit</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Audit</th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |a| %>
      <tr>
        <td>
          <%= a.id %>
        </td>
        <td>
          <%= a.output %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
