= raw pagy_nav(@pagy)
%table
  %thead
    %tr
      %th ID
      %th Audit
  %tbody
    - @audits.each do |a|
      %tr
        %td
          = a.id
        %td
          = a.output
= raw pagy_nav(@pagy)