.row
  .col.col-12
    %h1.text-center Викторина на тему #{@round.theme.title}
    #questions
      .py-3.text-center.text-muted
        .lead= plural @round.questions_collection.count, 'question'

      .text-center.py-3= link_to t('actions.start'), round_path(@round, page: 1), class: 'btn', remote: true
