.row
  .col
    %table.table
      %thead
        %tr
          %th ID
          %th User email
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.id
            %td
              = user.email
            %td
              - if policy(user).edit?
                = link_to t('actions.edit'), edit_user_path(user)
