.row
  .col.col-12
    - if policy(@user).get_more_info?
      .float-right.text-muted
        = t("users.roles.#{@user.role}")
    %h1= @user.login

  .col.col-12
    %table.table
      %thead
        %tr
          %th Theme
          %th Current/Wrong answers
          %th Finished
          %th
      %tbody
        = render @user.rounds