@import 'mixins';

.btn {
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:10px 22px;
    text-decoration:none;

    @include border-radius(5px);

  &:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }

  &:active {
    position:relative;
    top:1px;
  }

  &.btn-outline {
    background:linear-gradient(to bottom, #ffffff 5%, #e6e6e6 100%);
    background-color:#ffffff;
    border:1px solid #a8a6a8;
    color:#39919e;
    font-weight: 100;
  }

  &.btn-outline:hover {
    background:linear-gradient(to bottom, #e6e6e6 5%, #ffffff 100%);
    background-color:#e6e6e6;
  }
}
