@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  display: flex;
  background: asset-url('greydots.png') rgba(0, 50, 115, 0.4);
  background-repeat: repeat;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 19px;
  width: 100%;
  padding: 0 20px;
}

.content {
  @include border-radius(5px);
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.3));
  padding: 10px 0;
}

.bg-white {
  background: #fff;
}

.float-right {
  float: right;
  clear: right;
}

header{
  margin: 20px 0;
  color: #fff;
  line-height: 25pt;
  vertical-align: middle;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  &:hover {
    background: none;
  }
  &, &:hover, &:visited {
    color: #fff;
  }
}

.header-menu {
  a:hover {border-bottom: 1px solid #fff;}
  li.active a{
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
  li {padding: 0 10px;}
}

.header-logo {
  font-size: 25pt;
  font-weight: 600;
}

footer {
  color: #fff;
  margin-top: 10px;
}

ul.inline-list li{
  display: inline;
}

.text-right {
  text-align: right;
}

#flash {
  .alert  {color: red;}
  .notice {color: green;}
}