@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  display: flex;
  background: asset-url('greydots.png') rgba(0, 50, 115, 0.4);
  background-repeat: repeat;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 19px;
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  @include border-radius(5px);
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.3));
  padding: 10px 0;
}

.bg-white {
  background: #fff;
}

.float-right {
  float: right;
  clear: right;
}

header{
  margin: 20px 0;
  color: #fff;
  line-height: 25pt;
  vertical-align: middle;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  &:hover {
    background: none;
  }
  &, &:hover, &:visited {
    color: #fff;
  }
}

.header-menu {
  a:hover {border-bottom: 1px solid #fff;}
  li.active a{
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
  li {padding: 0 10px;}
}

.header-logo {
  font-size: 25pt;
  font-weight: 600;
  color: #616161;
  text-shadow: #e0e0e0 1px 1px 0;
}

footer {
  color: #fff;
  margin-top: 10px;
}

ul.inline-list li{
  display: inline;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#flash {
  .alert  {color: red;}
  .notice {color: green;}
}

a.button {
  background-color: rgba(0, 50, 115, 0.4);
  box-shadow: 0 5px 0 rgba(0, 50, 115, 0.8);
  color: white;
  padding: 1em 1.5em;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

a.button:hover {
  background-color: rgba(0, 50, 115, 0.6);;
}

a.button:active {
  box-shadow: none;
  top: 5px;
}

.d-none {
  display: none;
}

h1 {
  color: #666;
  padding-bottom: 20px;
  font-size: 30px;
}
