@import 'mixins';

.pagination {
  a, .page.disabled, .page.active {
    border: solid 1px darken($main-color, 10%);
    border-radius: 0.2rem;
    color: darken($main-color, 45%);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
  }
  a {
    text-decoration: none;
    color: darken($main-color, 45%);
  }

  .page.active {
    cursor: default;
  }

  a:hover, .page.active {
    color: #fff;
    background-color: $secondary-color;
    border: solid 1px $secondary-color;
  }

  .page.disabled, .page.disabled:hover {
    background: none;
    cursor: default;
    color: lighten($main-color, 70%);
    border-color: lighten($main-color, 70%);
  }
}